<div class="row">
	<h4 class="page-title">&nbsp;&nbsp;Accounts</h4>
	<div class="col-md-10">
		<ol class="breadcrumb">
			<li>
				<a href="#">Cost Sheet</a>
			</li>
			<li>
				<a href="#">Maintenance</a>
			</li>
			<li class="active">
				Accounts
			</li>
		</ol>
	</div>
</div>
		
<div class="panel panel-border panel-primary">
	<div class="panel-heading">
		<h4><i class="icon icon-note"></i> Form
		<button type="submit" class="btn btn-white waves-effect waves-light pull-right" ng-click="app.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
		</h4>
	</div>
	<hr>
	<div class="panel-body">
		<form name="formHolder.account" id="formHolder.account" novalidate autocomplete="off">
			<div class="row">
				<div class="col-md-12">
					<div class="col-sm-4" ng-class="{'has-error': formHolder.account.unique_no.$touched && formHolder.account.unique_no.$invalid}">
						<div class="form-group">
							<label>ID Number</label>
							<input type="text" class="form-control" name="unique_no" ng-model="account.unique_no" disabled required>
							<span class="help-block" ng-show="formHolder.account.unique_no.$touched && formHolder.account.unique_no.$invalid">This field is required</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-sm-4" ng-class="{'has-error': formHolder.account.firstname.$touched && formHolder.account.firstname.$invalid}">
						<div class="form-group">
							<label>First Name</label>
							<input type="text" class="form-control" name="firstname" ng-model="account.firstname" ng-disabled="controls.ok.btn" required>
							<span class="help-block" ng-show="formHolder.account.firstname.$touched && formHolder.account.firstname.$invalid">This field is required</span>
						</div>
					</div>
					<div class="col-sm-4" ng-class="{'has-error': formHolder.account.middlename.$touched && formHolder.account.middlename.$invalid}">
						<div class="form-group">
							<label>Middle Name</label>
							<input type="text" class="form-control" name="middlename" ng-model="account.middlename" ng-disabled="controls.ok.btn" required>
							<span class="help-block" ng-show="formHolder.account.middlename.$touched && formHolder.account.middlename.$invalid">This field is required</span>
						</div>
					</div>
					<div class="col-sm-4" ng-class="{'has-error': formHolder.account.lastname.$touched && formHolder.account.lastname.$invalid}">
						<div class="form-group">
							<label>Last Name</label>
							<input type="text" class="form-control" name="lastname" ng-model="account.lastname" ng-disabled="controls.ok.btn" required>
							<span class="help-block" ng-show="formHolder.account.lastname.$touched && formHolder.account.lastname.$invalid">This field is required</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-sm-4" ng-class="{'has-error': formHolder.account.username.$touched && formHolder.account.username.$invalid}">
						<div class="form-group">
							<label>Username</label>
							<input type="text" class="form-control" ng-model="account.username" name="username" ng-disabled="controls.ok.btn" required>
							<span class="help-block" ng-show="formHolder.account.username.$touched && formHolder.account.username.$invalid">This field is required</span>
						</div>
					</div>
					<div class="col-sm-4" ng-class="{'has-error': formHolder.account.password.$touched && formHolder.account.password.$invalid}">
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" ng-model="account.password" name="password" ng-disabled="controls.ok.btn" required>
							<span class="help-block" ng-show="formHolder.account.password.$touched && formHolder.account.password.$invalid">This field is required</span>
						</div>
					</div>
					<div class="col-sm-4" ng-class="{'has-error': formHolder.account.groups.$touched && formHolder.account.groups.$invalid}">
						<div class="form-group">
							<label>Groups</label>
							<select class="form-control" ng-model="account.groups" name="groups" ng-options="group.description for group in groups track by group.id" ng-disabled="controls.ok.btn" required></select>
							<span class="help-block" ng-show="formHolder.account.groups.$touched && formHolder.account.groups.$invalid">This field is required</span>
						</div>
					</div>
				</div>
			</div>
		</form>
		<hr>
		<div class="col-md-12">
			<button type="submit" class="btn btn-white waves-effect waves-light" ng-click="app.cancel(this)" style="margin-right: 5px;">{{controls.cancel.label}}</button>
			<button type="submit" class="btn btn-default waves-effect waves-light" ng-click="app.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
		</div>
	</div>
</div>
