<!-- <div class="row">
	<h4 class="page-title">&nbsp;&nbsp;Accounts</h4>
	<div class="col-md-10">
		<ol class="breadcrumb">
			<li>
				<a href="#">Cost Sheet</a>
			</li>
			<li>
				<a href="#">Maintenance</a>
			</li>
			<li class="active">
				Accounts
			</li>
		</ol>
	</div>
</div> -->
<style>
th {
	font-size: 11px;
	text-align: center;
}
</style>
<div class="panel panel-border panel-primary">
	<div class="panel-heading">
		<h4><i class="icon icon-note"></i> Form
		<button type="submit" class="btn btn-white waves-effect waves-light pull-right" ng-click="app.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
		</h4>
	</div>
	<hr>
	<div class="panel-body">
		<form name="formHolder.article" id="formHolder.article" novalidate autocomplete="off">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="col-md-12">
						<div class="form-group">
							<label>Article Number</label>
							<input type="text" class="form-control" name="article_no" ng-model="article.article_no" disabled>
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Description</label>
							<input type="text" class="form-control" name="description" ng-model="article.description" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Color</label>
							<input type="text" class="form-control" name="color" ng-model="article.color" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Design Name</label>
							<input type="text" class="form-control" name="design_name" ng-model="article.design_name" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Raw Size (cm)</label>
							<input type="text" class="form-control" name="raw_size" ng-model="article.raw_size" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Date</label>
							<input type="date" class="form-control" name="date" ng-model="article.date" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Etimate</label>
							<input type="text" class="form-control" name="estimate" ng-model="article.estimate" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Pattern Date</label>
							<input type="text" class="form-control" name="pattern_date" ng-model="article.pattern_date" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Final Raw Size (if w/ revisions)</label>
							<input type="text" class="form-control" name="final_raw_size" ng-model="article.final_raw_size" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Customer</label>
							<input type="text" class="form-control" name="customer" ng-model="article.customer" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Full Width of Fabric(cm)</label>
							<input type="text" class="form-control" name="full_width_fabric" ng-model="article.full_width_fabric" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Desired Size (cm)</label>
							<input type="text" class="form-control" name="desired_size" ng-model="article.desired_size" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Finished Size (cm)</label>
							<input type="text" class="form-control" name="finished_size" ng-model="article.finished_size" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Full Width of Desired Size (cm)</label>
							<input type="text" class="form-control" name="full_width_desired_size" ng-model="article.full_width_desired_size" ng-disabled="controls.ok.btn">
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="form-group">
							<label>Shrinkage %</label>
							<input type="text" class="form-control" name="shrinkage" ng-model="article.shrinkage" ng-disabled="controls.ok.btn">
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-sm-12">
					<div class="col-lg-12">
						<div class="form-group">
						<label>&nbsp;</label>
							<div class="row">
								<!-- <button class="btn btn-default"><i class="fa fa-folder-open"></i> Choose file</button> -->
								<input type="file" id="upload-files">
							</div>
						</div>
					</div>										
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
						<div class="panel-heading"></div>
						<div class="panel-body">
							<ul class="nav nav-pills m-b-30">
								<li class="active">
									<a href="#fabric" data-toggle="tab" aria-expanded="true">Fabric Consumption</a>
								</li>
								<li class="">
									<a href="#thread" data-toggle="tab" aria-expanded="false">Thread Consumption</a>
								</li>
								<li class="">
									<a href="#accessory" data-toggle="tab" aria-expanded="false">Accessory Consumption</a>
								</li>
								<li class="">
									<a href="#labor" data-toggle="tab" aria-expanded="false">Labor Consumption</a>
								</li>
								<li class="pull-right">
									<button type="submit" class="btn btn-white waves-effect waves-light pull-right" ng-click="app.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
								</li>
							</ul>
							
							<div class="tab-content br-n pn">
								<div id="fabric" class="tab-pane active">
									<div class="row">
										<div class="col-md-12">
											<button class="btn btn-linkedin waves-effect waves-light pull-right" ng-click="app.fabric.add(this)" ng-disabled="controls.ok.btn"><i class="fa fa-plus"></i></button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th colspan="2" align="center">Dimension</th>
														<th>Fabric</th>
														<th>Landed Cost</th>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
													</tr>
													<tr>
														<th>#</th>
														<th>Description</th>
														<th>Quality</th>
														<th>Color</th>
														<th>QTY</th>
														<th>W</th>
														<th>L</th>
														<th>Consumption (m²)</th>
														<th>m² (USD)</th>
														<th>Cost (USD)</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="af in article.fabrics">
														<td>{{$index+1}}</td>
														<td><input type="text" class="form-control" name="description{{$index}}" ng-model="af.description" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="quality{{$index}}" ng-model="af.quality" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="color{{$index}}" ng-model="af.color" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="qty{{$index}}" ng-model="af.qty" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="dimension_w{{$index}}" ng-model="af.dimension_w" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="dimension_l{{$index}}" ng-model="af.dimension_l" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="fabric_m{{$index}}" ng-model="af.fabric_m" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="landed_cost{{$index}}" ng-model="af.landed_cost" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="cost{{$index}}" ng-model="af.cost" ng-disabled="controls.ok.btn"></td>
														<td><button class="btn btn-danger" ng-click="app.fabric.delete(this,af)" ng-disabled="controls.ok.btn"><i class="fa fa-remove"></i></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div id="thread" class="tab-pane">
									<div class="row">
										<div class="col-md-12">
											<button class="btn btn-linkedin waves-effect waves-light pull-right" ng-click="app.thread.add(this)" ng-disabled="controls.ok.btn"><i class="fa fa-plus"></i></button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th colspan="2">Combination</th>
														<th>Initial WT.</th>
														<th>Net WT.</th>
														<th>Total</th>
														<th>Landed</th>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
													</tr>
													<tr>
														<th>#</th>
														<th>Description</th>
														<th>Quality</th>
														<th>Color</th>
														<th>(In grams)</th>
														<th>(In grams)</th>
														<th>Weight (g)</th>
														<th>Cost (USD)</th>
														<th>Cost (USD)</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="at in article.threads">
														<td>{{$index+1}}</td>
														<td><input type="text" class="form-control" name="description{{$index}}" ng-model="at.description" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="quality{{$index}}" ng-model="at.quality" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="color{{$index}}" ng-model="at.color" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="initial_wt{{$index}}" ng-model="at.initial_wt" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="net_wt{{$index}}" ng-model="at.net_wt" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="total_weight{{$index}}" ng-model="at.total_weight" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="landed_cost{{$index}}" ng-model="at.landed_cost" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="cost{{$index}}" ng-model="at.cost" ng-disabled="controls.ok.btn"></td>
														<td><button class="btn btn-danger" ng-click="app.thread.delete(this,at)" ng-disabled="controls.ok.btn"><i class="fa fa-remove"></i></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div id="accessory" class="tab-pane">
									<div class="row">
										<div class="col-md-12">
											<button class="btn btn-linkedin waves-effect waves-light pull-right" ng-click="app.accessory.add(this)" ng-disabled="controls.ok.btn"><i class="fa fa-plus"></i></button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>#</th>
														<th>Item</th>
														<th>Color</th>
														<th>Soze (with unit)</th>
														<th>Consumption (with unit)</th>
														<th>Landed Cost (USD/Unit)</th>
														<th>Cost (USD)</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="aa in article.accessories">
														<td>{{$index+1}}</td>
														<td><input type="text" class="form-control" name="item{{$index}}" ng-model="aa.item" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="color{{$index}}" ng-model="aa.color" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="size{{$index}}" ng-model="aa.size" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="consumption{{$index}}" ng-model="aa.consumption" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="landed_cost{{$index}}" ng-model="aa.landed_cost" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="cost{{$index}}" ng-model="aa.cost" ng-disabled="controls.ok.btn"></td>
														<td><button class="btn btn-danger" ng-click="app.accessory.delete(this,aa)" ng-disabled="controls.ok.btn"><i class="fa fa-remove"></i></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div id="labor" class="tab-pane">
									<div class="row">
										<div class="col-md-12">
											<button class="btn btn-linkedin waves-effect waves-light pull-right" ng-click="app.labor.add(this)" ng-disabled="controls.ok.btn"><i class="fa fa-plus"></i></button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th>&nbsp;</th>
														<th>TL</th>
														<th colspan="3">Actual Time</th>
														<th>&nbsp;</th>
													</tr>
													<tr>
														<th>Department</th>
														<th>Process</th>
														<th>Special Instruction/s</th>
														<th>Operator</th>
														<th>Approved Time</th>
														<th>(min)</th>
														<th>Hour</th>
														<th>Min</th>
														<th>Sec</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="al in article.labors">
														<td><input type="text" class="form-control" name="department{{$index}}" ng-model="al.department" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="process{{$index}}" ng-model="al.process" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="special_instruction{{$index}}" ng-model="al.special_instruction" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="operator{{$index}}" ng-model="al.operator" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="approved_time{{$index}}" ng-model="al.approved_time" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="tl_min{{$index}}" ng-model="al.tl_min" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="hour{{$index}}" ng-model="al.hour" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="min{{$index}}" ng-model="al.min" ng-disabled="controls.ok.btn"></td>
														<td><input type="text" class="form-control" name="sec{{$index}}" ng-model="al.sec" ng-disabled="controls.ok.btn"></td>
														<td><button class="btn btn-danger" ng-click="app.labor.delete(this,al)" ng-disabled="controls.ok.btn"><i class="fa fa-remove"></i></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="col-md-12">
			<button type="submit" class="btn btn-white waves-effect waves-light" ng-click="app.cancel(this)" style="margin-right: 5px;">{{controls.cancel.label}}</button>
			<button type="submit" class="btn btn-default waves-effect waves-light" ng-click="app.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
		</div>
	</div>
</div>